[submodule "external/external/libbcrypt"]
	path = external/external/libbcrypt
	url = https://github.com/rg3/libbcrypt.git
[submodule "external/curl"]
	path = external/curl
	url = https://github.com/curl/curl
[submodule "external/lmdb"]
	path = external/lmdb
	url = https://github.com/LMDB/lmdb.git
